.spoiler-wrapper {
    .spoiler-title {
        cursor: pointer;
    }
    .spoiler-body {
        overflow: hidden;
        max-height: 0px;
        transition: all 1s linear;
        &.action.open {
            max-height: 100vh!important;
        }
        &.open {
            max-height: min-content;
        }
    }
}