.spoiler-wrapper .spoiler-title{cursor:pointer}.spoiler-wrapper .spoiler-body{overflow:hidden;max-height:0px;transition:all 1s linear}.spoiler-wrapper .spoiler-body.action.open{max-height:100vh !important}.spoiler-wrapper .spoiler-body.open{max-height:-webkit-min-content;max-height:-moz-min-content;max-height:min-content}
