<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sc-vue-wysiwyg@1.8.2/dist/vueWysiwyg.css">
    <script src="https://cdn.jsdelivr.net/npm/sc-vue-wysiwyg@1.8.2/dist/vueWysiwyg.min.js"></script> -->
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.4/dist/vue-quill-editor.js"></script>
    <link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">
    <script src="https://ru.vuejs.org/js/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="app">
                    <div class="row">
                        <h2>Выбор, куда будем генерировать карточки</h2>
                        <div class="col-6">
                            <h3>Инфоблок</h3>
                            <select v-model="selected.iblock">
                                <option v-bind:value="iblock.ID" v-for="iblock in iblocks">{{ iblock.NAME }}</option>
                            </select>
                        </div>
                        <div class="col-6" v-if="selected.iblock">
                            <h3>Раздел</h3>
                            <select v-model="selected.section">
                                <option value="0">--Корень--</option>
                                <option v-bind:value="section.ID" v-for="section in filteredSections">{{ section.NAME }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" v-if="selected.section">
                        <div class="col-6">
                            <h3>Имена карточек</h3>
                            <p>Каждое имя с новой строки</p>
                            <textarea class="names" v-on:change="parseNames"></textarea>
                        </div>
                        <div class="col-6">
                            <h3>Названия карточек</h3>
                            <input type="text" v-model="selected.itemName">
                            <h3>Шаблонный текст</h3>
                            <p>[%NAME%] будет заменяться на название карточки</p>
                            <wysiwyg v-model="selected.text"></wysiwyg>
                        </div>
                    </div>
                    <div class="row" v-if="selected.section">
                        <div class="col-4">
                            <h4>Картинка для элементов</h4>
                            <select v-model="selected.typeImage">
                                <!-- <option value="parent">Из родителя</option> -->
                                <option value="link">По ссылке</option>
                            </select>
                            <input v-if="selected.typeImage == 'link'" v-model="selected.imgLink">
                        </div>
                    </div>
                    <br>
                    <div class="row" v-if="selected.names.length > 0">
                        <div class="col-12 text-center">
                            <button v-on:click="goAjaxSend">ПОIХАЛИ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            components: {
                wysiwyg: VueQuillEditor.quillEditor
            },
            data: {
                mess: '123',
                iblocks: [],
                sections: [],
                selected: {
                    action: 'addNew',
                    iblock: '',
                    section: '',
                    itemName: '[%NAME%]',
                    names: [],
                    text: '',
                    typeImage: '',
                    imgLink: ''
                },
            },
            computed: {
                filteredSections() {
                    return this.sections.filter((item)=>{
                        return item.IBLOCK_ID == this.selected.iblock;
                    })
                }
            },
            mounted: function() {
                fetch('ajax.php?action=getIblockList').then((res)=>{
                    return res.json();
                })
                .then((json)=>{
                    this.iblocks = json.iblocks;
                    this.sections = json.sections;
                });
            },
            methods: {
                parseNames(e){
                    let text = e.target.value;
                    this.selected.names = text.split("\n");
                },
                goAjaxSend() {
                    let sendData = new FormData();
                    for (const key in this.selected) {
                        if (this.selected.hasOwnProperty(key)) {
                            sendData.append(key, this.selected[key]);
                        }
                    }
                    // let sendData = JSON.stringify(this.selected);
                    fetch('ajax.php', {
                        method: 'POST',
                        body: sendData
                    })
                }
            }
        })
    </script>
    <style>
    .ql-editor {
        min-height: 200px;
    }
    textarea.names {
        width: 100%;
        min-height: 300px;
    }
    </style>
</body>
</html>