	<form action="/ajax/form.php" data-type="Заявка" name="openform" class="form js-ajax-form">
		<div class="form-body">
			<div class="form-title">Заказать звонок</div>
			<ul>
				<li>
					<div>
						<label for="somebody">Ваше имя: <span class="required-star">*</span></label>
							<input type="text" name="name" value="" hidden />
							<input type="text" name="somebody" value="">
					</div>
				</li>
				<li>
					<div data-sid="errydvdf">
						<label for="oncetoldme">Телефон: <span class="required-star">*</span></label>
							<input type="text" name="phone" value="" hidden />
							<input type="text" name="oncetoldme" value="">
					</div>
				</li>
			</ul>

		</div>
		<div class="form-footer clearfix">
			<div>
				<button class="btn-lg btn btn-default send" type="submit">Отправить</button>
			</div>
			<label class="text-center m10-0">Отправляя форму вы соглашаетесь на <a href="/privacy-policy/" target="_blank" rel="nofollow">обработку персональных данных</a></label>
		</div>
		<div class="result_ajax_form"></div>
	</form>
